<aside class="sidebar bg-dark text-white" [class.collapsed]="!isOpen">

    <!-- Logo -->
    <div class="sidebar-header p-3">
        <span class="fw-bold" *ngIf="isOpen"><i class="bi bi-hospital"></i> إدارة الفندق</span>
        <span *ngIf="!isOpen" class="fs-4"><i class="bi bi-hospital"></i></span>
    </div>

    <!-- Menu -->
    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/dashboard" routerLinkActive="active">

                <i class="bi bi-house-door"></i>

                <span class="link-text" [class.hidden]="!isOpen">
                    الرئيسية
                </span>

            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/chalet">
                <i class="bi bi-building"></i>
                <span class="link-text" [class.hidden]="!isOpen">الغرف</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/booking">
                <i class="bi bi-calendar-check"></i>
                <span class="link-text" [class.hidden]="!isOpen">الحجوزات</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/waitinglist">
                <i class="bi bi-hourglass-top"></i>
                <span class="link-text" [class.hidden]="!isOpen">قائمة
                    الانتظار</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/extras-component">
                <i class="bi bi-people"></i>
                <span class="link-text" [class.hidden]="!isOpen">الاضافات</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/maintenance">
                <i class="bi bi-people"></i>
                <span class="link-text" [class.hidden]="!isOpen">الصيانات</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/profile">
                <i class="bi bi-gear"></i>
                <span class="link-text" [class.hidden]="!isOpen">الإعدادات</span>
            </a>
        </li>

    </ul>

</aside>